/* core styles */
* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	font-family: 'Arial', 'Helvetica', 'sans-serif';
	font-size: 1.1em;
	line-height: 1.5;
	color: #878a8d;
}

h1 {
	font-family: 'avenir','Arial', 'Helvetica';
	font-size: 4.2rem;
	padding: 0;
	margin: 0;
}

h3 {
	margin: 0;
	font-size: 1.4rem;
	padding-bottom: 1em;
}

p {
	margin: 0;
	font-size: 1rem;
	padding-bottom: 3em;
	text-align: justify;
}

div,
img {
	padding: 0;
	margin: 0;
}

ol,
ul {
	padding: 0;
	margin: 0;
	text-align: justify;
}

.btn {
	display: inline-block;
	background-color: #4688f1;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	padding: 0.5em 1em;
	margin: 0.5em 0;
	font-size: 1rem;
}

.btn:hover {
	background: #3877d4;
	color: #ffffff;
}

.gray-back {
	background-color: #f6f6f6;
}

section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
}

.text {
	width: 40%;
}

.photo {
	width: 50%;
}

.margin-r {
	margin-right: 7%;
}

.margin-l {
	margin-left: 7%;
}

/* nav section */
.nav {
	width: 100%;
	background-color: #ffffff;
	position: relative;
	border-bottom: 1px solid #b0b3b3;
	height: 70px;
}

.nav > .nav-header {
	display: inline;
}

.logo {
	display: block;
	float: left;
	margin: 20px 40px;
	width: 110px;
}

.nav > .nav-btn {
	display: none;
}

.nav > .nav-links {
	display: inline;
	float: right;
	font-size: 1rem;
	margin-right: 30px;
}

.nav > .nav-links > a {
	display: inline-block;
	padding: 30px 10px;
	text-decoration: none;
	color: #878a8d;
}

.nav > .nav-links > a:hover {
	color: black;
}

.nav > #nav-check {
	display: none;
}

/* Google section */
.google {
	display: flex;
	flex-direction: column;
	margin-top: -50px;
}

.pixel {
	padding-top: 50px;
}

.watch {
	color: #4688f1;
	margin: 10px;
	font-size: 1rem;
}

.g-logo {
	width: 80px;
	margin-bottom: 90px;
}

.g-logo-gray {
	width: 110px;
}

.g-text {
	width: 25%;
	z-index: 1;
}

.g-photo {
	width: 70%;
}

.g-margin {
	margin: 0 0 0 5%;
}

/* personal section */
.photo-center {
	padding: 4%;
}

/* search section */
.search {
	background: #ffffff url(images/landscape.png) no-repeat;
	background-size: cover;
}

.search h3,
.search p {
	color: black;
}

.search-text {
	width: 50%;
	padding: 16% 7%;
}

/* info section */
.info {
	background-color: #e3e3e3;
	max-width: 100%;
	margin: auto;
	padding: 30px 50px;
	color: #6e7274;
	font-size: 0.8rem;
}

/* responsive section */
@media (min-width: 950px){
	.hidden{
		display:none;
	}
}

@media (min-width: 790px) and (max-width: 950px) {
	h1 {
		font-size: 3.5rem;
	}

	h3 {
		font-size: 1.1rem;
	}

	p {
		font-size: 0.9rem;
	}

	.g-logo {
		width: 70px;
		margin-bottom: 70px;
	}

	.g-logo-gray {
		width: 90px;
		margin-bottom: 5px;
	}

	.avenir {
		width: 160px;
		margin-bottom: 20%;
	}

	.btn {
		padding: 0.5em 0.8em;
		font-size: 0.8rem;
	}

	.hidden{
		display:none;
	}

	.watch {
		font-size: 0.8rem;
	}
}

@media (max-width: 690px) {
	.nav > .nav-btn {
		display: inline-block;
		position: absolute;
		right: 20px;
		top: 10px;
	}

	.nav > .nav-btn > label {
		display: inline-block;
		width: 50px;
		height: 50px;
		padding: 13px;
	}

	.nav > .nav-btn > label:hover {
		background-color: rgba(203, 203, 203, 0.3);
		border-radius: 10px;
	}

	.nav > .nav-btn > label > span {
		display: block;
		width: 25px;
		height: 10px;
		border-top: 2px solid #5c5c5c;
	}

	.nav > .nav-links {
		position: absolute;
		display: block;
		width: 100%;
		background-color: #dfdfdf;
		height: 0px;
		transition: all 0.6s ease-in;
		overflow-y: hidden;
		top: 70px;
		left: 0px;
		z-index: 5;
	}

	.nav > .nav-links > a {
		display: block;
		width: 100%;
	}

	.nav > #nav-check:not(:checked) + .nav-links {
		height: 0px;
	}

	.nav > #nav-check:checked + .nav-links {
		height: calc(100vh - 50px);
		overflow-y: auto;
	}
}

@media (min-width: 590px) and (max-width: 790px) {
	
	h1 {
		font-size: 3rem;
	}
	h3 {
		font-size: 0.9rem;
	}

	p {
		font-size: 0.7rem;
	}

	.g-logo {
		width: 40px;
		margin-bottom: 40px;
	}

	.g-logo-gray {
		width: 70px;
		margin-bottom: 5px;
	}

	.avenir {
		width: 100px;
		margin-bottom: 20%;
	}

	.btn {
		padding: 0.5em 0.7em;
		font-size: 0.7rem;
	}

	.watch {
		font-size: 0.7rem;
	}

	.g-text {
		width: 30%;
		z-index: 1;
	}

	.g-photo {
		width: 60%;
		height: auto;
	}
	.hidden{
		display:none;
	}

	.info {
		font-size: 0.6rem;
	}
}

@media (max-width: 590px) {
	body {
		overflow-x: hidden;
	}

	section {
		display: inline;
	}

	.text {
		width: 100%;
		padding: 10%;
		background-color: #e3e3e3;
	}

	.photo {
		width: 100%;
	}

	.margin-right {
		padding: 0;
	}

	.margin-left {
		padding: 0;
	}
	
	.g-photo {
		width: 100vw;
	}

	.margin-l {
		margin: 0;
	}

	.margin-r {
		margin: 0;
	}

	.sm {
		width: 100vw;
	}

	h3 {
		font-size: 0.8rem;
	}

	p {
		font-size: 0.7rem;
	}

	.g-logo {
		width: 80px;
		margin-bottom: 40px;
	}

	.g-logo-gray {
		width: 100px;
		margin-bottom: 5px;
	}

	.g-text {
		width: 100%;
	}

	.google {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 10%;
	}

	section {
		display: flex;
		flex-direction: column;
	}

	.avenir {
		width: 150px;
		margin-bottom: 10%;
	}

	.btn {
		padding: 0.5em 0.9em;
		font-size: 0.8rem;
		margin-right: 20px;
	}

	.watch {
		font-size: 0.8rem;
		margin: 0px;
	}

	.photo-center {
		padding: 0;
	}

	.reverse {
		flex-direction: column-reverse;
	}

	.search-text {
		width: 100%;
		padding: 10%;
		background-color: #e3e3e3;
	} 

	.search h3,
	.search p {
		color:#878a8d;
	}
	
	.info {
		font-size: 0.6rem;
	}
}
